In [1]:
import pandas as pd
import numpy as np

In [2]:
###Dasgal1
xl = pd.read_excel("C:/Users/Dell/OneDrive/Documents/2-р курс/2-2/Week7_Store Data Sample.xlsx", sheet_name = 1)
xl

,Order ID,Order Date,Unnamed: 2,Segment,Region,Unnamed: 5,Product Name,Price,Quantity,Discount,Sales
0,NaN,2016-11-08,NaN,Хувь хүн,Баянзүрх,NaN,NaN,3300.0,2.0,0.00,6600.0
1,CA-2016-152156,2016-11-08,NaN,Хувь хүн,Баянзүрх,NaN,Хэрэглээ 00ийн цаас,500.0,3.0,0.00,1500.0
2,CA-2016-138688,2016-06-12,NaN,Байгууллага,Хан-Уул,NaN,Алимтай жигнэмэг 230 гр,3100.0,2.0,0.00,6200.0
3,US-2015-108966,2015-10-11,NaN,Хувь хүн,Баянзүрх,NaN,Золотой янта 500 гр,2800.0,5.0,0.00,14000.0
4,US-2015-108966,2015-10-11,NaN,Хувь хүн,Баянзүрх,NaN,Punch 450 мл,1150.0,2.0,0.00,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,NaN,Гишүүн,Хан-Уул,NaN,Hainich нухаш,3300.0,1.0,0.03,3201.0
96,CA-2017-161018,2017-11-09,NaN,Гишүүн,Сүхбаатар,NaN,Lays чипс 80 гр,2300.0,7.0,0.03,15617.0
97,CA-2017-157833,2017-06-17,NaN,Хувь хүн,Хан-Уул,NaN,Монстров 23 гр,500.0,3.0,0.00,1500.0
98,CA-2016-149223,2016-09-06,NaN,Байгууллага,Чингэлтэй,NaN,Арвай 0.100,2000.0,6.0,0.00,12000.0
99,CA-2016-158568,2016-08-29,NaN,Гишүүн,Чингэлтэй,NaN,Тэйсти гоймон 110 гр,1800.0,7.0,0.03,12222.0

In [3]:
xl.isnull()

,Order ID,Order Date,Unnamed: 2,Segment,Region,Unnamed: 5,Product Name,Price,Quantity,Discount,Sales
0,True,False,True,False,False,True,True,False,False,False,False
1,False,False,True,False,False,True,False,False,False,False,False
2,False,False,True,False,False,True,False,False,False,False,False
3,False,False,True,False,False,True,False,False,False,False,False
4,False,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,True,False,False,True,False,False,False,False,False
96,False,False,True,False,False,True,False,False,False,False,False
97,False,False,True,False,False,True,False,False,False,False,False
98,False,False,True,False,False,True,False,False,False,False,False
99,False,False,True,False,False,True,False,False,False,False,False

In [5]:
xl = xl.dropna(axis = 0, how = 'all') 
xl = xl.dropna(axis = 1, how = 'all')
xl
# df.dropna(axis =1, how = 'all')"

,Order ID,Order Date,Segment,Region,Product Name,Price,Quantity,Discount,Sales
0,NaN,2016-11-08,Хувь хүн,Баянзүрх,NaN,3300.0,2.0,0.00,6600.0
1,CA-2016-152156,2016-11-08,Хувь хүн,Баянзүрх,Хэрэглээ 00ийн цаас,500.0,3.0,0.00,1500.0
2,CA-2016-138688,2016-06-12,Байгууллага,Хан-Уул,Алимтай жигнэмэг 230 гр,3100.0,2.0,0.00,6200.0
3,US-2015-108966,2015-10-11,Хувь хүн,Баянзүрх,Золотой янта 500 гр,2800.0,5.0,0.00,14000.0
4,US-2015-108966,2015-10-11,Хувь хүн,Баянзүрх,Punch 450 мл,1150.0,2.0,0.00,2300.0
...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,Гишүүн,Хан-Уул,Hainich нухаш,3300.0,1.0,0.03,3201.0
96,CA-2017-161018,2017-11-09,Гишүүн,Сүхбаатар,Lays чипс 80 гр,2300.0,7.0,0.03,15617.0
97,CA-2017-157833,2017-06-17,Хувь хүн,Хан-Уул,Монстров 23 гр,500.0,3.0,0.00,1500.0
98,CA-2016-149223,2016-09-06,Байгууллага,Чингэлтэй,Арвай 0.100,2000.0,6.0,0.00,12000.0
99,CA-2016-158568,2016-08-29,Гишүүн,Чингэлтэй,Тэйсти гоймон 110 гр,1800.0,7.0,0.03,12222.0

In [8]:
print(xl.isnull().sum().sum())
xl.isnull()

7

,Order ID,Order Date,Segment,Region,Product Name,Price,Quantity,Discount,Sales
0,True,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False

In [16]:
xl = xl.fillna(method = 'ffill')
xl = xl.fillna(method = 'bfill')
xl

,Order ID,Order Date,Segment,Region,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,Хувь хүн,Баянзүрх,Хэрэглээ 00ийн цаас,3300.0,2.0,0.00,6600.0
1,CA-2016-152156,2016-11-08,Хувь хүн,Баянзүрх,Хэрэглээ 00ийн цаас,500.0,3.0,0.00,1500.0
2,CA-2016-138688,2016-06-12,Байгууллага,Хан-Уул,Алимтай жигнэмэг 230 гр,3100.0,2.0,0.00,6200.0
3,US-2015-108966,2015-10-11,Хувь хүн,Баянзүрх,Золотой янта 500 гр,2800.0,5.0,0.00,14000.0
4,US-2015-108966,2015-10-11,Хувь хүн,Баянзүрх,Punch 450 мл,1150.0,2.0,0.00,2300.0
...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,Гишүүн,Хан-Уул,Hainich нухаш,3300.0,1.0,0.03,3201.0
96,CA-2017-161018,2017-11-09,Гишүүн,Сүхбаатар,Lays чипс 80 гр,2300.0,7.0,0.03,15617.0
97,CA-2017-157833,2017-06-17,Хувь хүн,Хан-Уул,Монстров 23 гр,500.0,3.0,0.00,1500.0
98,CA-2016-149223,2016-09-06,Байгууллага,Чингэлтэй,Арвай 0.100,2000.0,6.0,0.00,12000.0
99,CA-2016-158568,2016-08-29,Гишүүн,Чингэлтэй,Тэйсти гоймон 110 гр,1800.0,7.0,0.03,12222.0

In [17]:
print(xl.isnull().sum().sum())

0